<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="{{ url_for('index') }}" style="margin-left: 1rem">
    <img
      src="{{
      url_for('static',filename='images/MusiClassify.png') }}"
      alt="MusiClassify's logo"
      width="20%"

      />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarLinks"
    aria-controls="navbarLinks"
    aria-expanded="false"
    aria-label="Toggle
    navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
