{% extends 'layout.html' %}

{% block body %}

    <div class="container jumbotron text-center" id="home">
        <img id="MusiClassify" class="bg-transparent" src="../static/images/MusiClassify.png"
             alt="MusiClassify Logo">

        <h1 style="margin-top: 5vh">Upload a file</h1>

        <div style="position: relative; display: flex; justify-content: center; margin-top: 5vh">
            <form method="post" enctype="multipart/form-data">

                <div class="button-upload" id="button-7" >
                    <div id="dub-arrow">
                        <label for="file"><i class="fa-solid fa-upload" style="color: white;font-size: 1.3em"></i></label>
                    </div>
                    <label for="file" class="button-upload-text">Select file</label>
                    {#                        <a href="#" class="button-upload-text" target="_blank" rel="noreferrer "></a>#}
                </div>
                {{ form.hidden_tag() }}
                {{ form.file() }}
                <br>
                <br>


                <button class="button-upload-text" id="button-submit" type="submit">Submit</button>
            </form>

            <div class="boxContainer">
                <div class="box box1"></div>
                <div class="box box2"></div>
                <div class="box box3"></div>
                <div class="box box4"></div>
                <div class="box box5"></div>
            </div>

        </div>
    </div>
{% endblock %}
