{% extends 'layout.html' %}

{% block body %}

    <div class="container jumbotron text-center" id="home">
        <img id="MusiClassify" class="bg-transparent" src="../static/images/MusiClassify.png"
             alt="MusiClassify Logo">

        <h1 style="margin-top: 5vh">Upload a file</h1>
        <div style="position: relative; display: flex; align-items: center; justify-content: center; margin-top: 5vh; flex-direction: column" id="main">
            <form method="post" enctype="multipart/form-data">
                <div class="button-upload" id="button-7" >
                    <div id="dub-arrow">
                        <label for="file"><i class="fa-solid fa-upload" style="color: white;font-size: 1.3em"></i></label>
                    </div>
                    <label for="file" class="button-upload-text">Select file</label>
                </div>
                {{ form.hidden_tag() }}
                {{ form.file() }}
                <br>
                <br>
                <button class="button-upload-text" id="button-submit" type="submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
